html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

.site_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    background-color: brown;
    height: 50px;
    z-index: 100;

    .header_brand {
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        color: white;
    }

    .navbar_middle {
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 600px;

        .nav_middle {
            position: relative;
            display: inline-block;
            color: white;
            text-decoration: none;
            border: none;
            outline: none;
            background-color: brown;
        }

        #change_equipment_btn:hover {
            cursor: pointer;
            text-decoration: none;
        }
        
        #change_field_btn:hover {
            cursor: pointer;
            text-decoration: none;
        }
        
        #user_info:hover {
            cursor: pointer;
            text-decoration: none;
        }

        #battle_reset:hover {
            cursor: pointer;
            text-decoration: none;
        }

        .nav_middle::after {
            position: absolute;
            bottom: -4px;
            left: 0;
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            transform: scale(0, 1);
            transform-origin: right top;
            transition: transform .3s;
        }

        #change_equipment_btn:hover::after {
            transform-origin: left top;
            transform: scale(1, 1);
        }

        #change_field_btn:hover::after {
            transform-origin: left top;
            transform: scale(1, 1);
        }

        #user_info:hover::after {
            transform-origin: left top;
            transform: scale(1, 1);
        }

        #battle_reset:hover::after {
            transform-origin: left top;
            transform: scale(1, 1);
        }
    }

    .navbar_right {
        display: flex;
        list-style: none;
        
        .nav-item {

            #show_info {
                width: 35px;;
                margin-right: 10px;
                font-size: 30px;
                background: none;
                outline: none;
                border: none;
                color: white;
                padding: 0;
                line-height: 35px;
            }

            .btn_logout {
                color: white;
                border: none;
                outline: none;
                background: none;
                font-weight: bold;
                line-height: 35px;
            }

            a {
                padding: 5px 20px;
                color: white;
            }

            .login_link:hover {
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.2);
            }

            .register_link:hover {
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }    
}

footer {
    position: absolute;
    width: 100%;
    background-color: brown;
    height: 50px;
    bottom: 0;
    text-align: center;
    z-index: 100;

    p {
        color: white;
        line-height: 50px;
    }
}

body {
    position: relative;
}

#app {
    padding: 50px 0;
    background-image: url("/images/background_images/平原w600.jpg");
    background-size: cover;
    min-height: 630px;
}
