.password_reset_btn {
    width: 300px !important;
    margin-top: 15px !important;
}

.status_message {
    text-align: center;
    width: 580px;
    margin: 20px auto 0;
    padding: 10px 0;
    background: rgba(255, 245, 220, 0.7);
    border: 3px solid rgb(0 128 0 / 60%);
    border-radius: 5px;

    .fas {
        color: rgb(0 128 0);
    }
}