.confirm_span {
    display: flex;
    margin-left: -14px;

    .w_key {
        margin-right: -5px;
    }
}

.input_name:focus {
    background-color: rgba(255, 255, 255, 0.5) !important;
    outline: none;
}

.form_radio {
    flex-direction: column;

    .invalid-feedback {
        display: block;
    }

    .radio_label {
        font-size: small;
        border-bottom: 1px solid;
        font-weight: bold;
    }

    .select_player {
        display: flex;
        margin-top: 30px;
        justify-content: space-between;

        .player_images {
            width: 120px;
            text-align: center;
            border-radius: 3px;
            box-shadow: 2px 2px 4px rgb(0 0 0 / 50%);
            
            .player_image {
                height: 120px;
            }
        }

        .radio {
            display: none;
        }

        .radio:checked + .player_images {
            background-color: rgba(213, 194, 30, 0.15);
        }
    }
}

.padding_btm {
    padding-bottom: 45px;
}

.start_btn {
	position: relative;
	display: block;
	width: 160px;
    padding: 5px;
    margin: 20px auto 0;
	text-align: center;
	text-decoration: none;
	color: white;
	background: #3ea93d;
	border:1px solid #037f43;
    overflow: hidden;
    font-weight: bold;
    letter-spacing: 1px;

    &::before {
        content:"";
        position: absolute;
        top: 0px;
        left: -150px;
        height: 100%;
        width: 160px;
        background : rgba(255, 255, 255, 0.3);
        transition: .4s;
    }

    &:hover::before {
        left:0;
    }
}

.invalid-feedback strong {
    font-size: smaller;
}